---

- name: FLINK | Create flink jobs path
  file:
    path: "{{ flink_jobs_path }}"
    state: directory
    owner: "{{ flink_user }}"
    group: "{{ flink_group }}"
    recurse: true
    mode: 01777
